<div *ngIf="userStatus$ | async as status">
  <span *ngIf="status.loading">Loading ...</span>
  <span *ngIf="status.error">
    {{status.errorMessage || "Error"}}
  </span>

  <div *ngIf="status.loaded && user$ | async as user">
    <div class="user">
      <img [src]="user.avatar_url" [alt]="user.login" class="avatar">
      <div class="data">
        <h3>{{ user.name }}</h3>
        <div>
          <div><b>location:&nbsp;</b>{{ user.location }}</div>
          <div><b>company:&nbsp;</b>{{ user.company }}</div>
          <div><b>blog:&nbsp;</b><a [href]="user.blog">{{user.blog}}</a></div>
        </div>
      </div>
    </div>

    <app-repos-list></app-repos-list>
  </div>
</div>
