@import "src/sass/index"

.layout
  min-height: 100vh
  display: flex
  flex-direction: column

  &-content
    flex: 1
    background: $oxford-blue
    color: $white

.footer
  background: $platinum
  color: $black

